* {
  margin:0;
  padding:0;    
}

.container {  
  width:35%;
  margin:150px auto;
  /*font-size: 0;*/    
}

header {
  text-align:center;  
}

header img {
  width: 60%;
  margin: 15px auto;
}

main {
  font-size: 0;
}

h1 {  
  font-size: 4em;
  font-weight: normal;  
}

i {
  font-size: 0.7em;
  font-weight: 1;
  color: #ccc;
}

section {
  border-top: 3px double #ccc;
  border-bottom: 3px double #ccc;
  padding: 15px 0;
  margin: 20px 0 30px;  
  font-size: medium;
}

section p {
  text-align: justify;  
}

article {
  display: inline-block;
  width: 22%;
  font-size: medium;  
  margin-right:4%;  
}
article:last-child {
  margin-right: 0;
}

article p {
  text-align: left;
  font-size: 0.7em;  
}
